*.js           text eol=lf
*.ts           text eol=lf
*.json         text eol=lf
*.html         text eol=lf
*.md           text eol=lf
*.yml          text eol=lf
.editorconfig  text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf
LICENSE        text eol=lf
